.idea/caches/deviceStreaming.xml
.idea/deviceManager.xml
.idea/II3130_UAS_18223027_18223079.iml
.idea/markdown.xml
.idea/modules.xml
.idea/vcs.xml
vls-expo/.env
vls-expo/.expo/README.md
vls-expo/App.tsx
vls-expo/assets/adaptive-icon.png
vls-expo/assets/favicon.png
vls-expo/assets/icon.png
vls-expo/assets/splash.png
vls-expo/node_modules/
vls-expo/.env
