.idea/caches/deviceStreaming.xml
.idea/deviceManager.xml
.idea/II3130_UAS_18223027_18223079.iml
.idea/markdown.xml
.idea/modules.xml
.idea/vcs.xml
vls-expo/.env
vls-expo/.expo/README.md
vls-expo/assets/adaptive-icon.png
vls-expo/assets/favicon.png
vls-expo/assets/icon.png
vls-expo/assets/splash.png
vls-expo/node_modules/
vls-expo/.env
vls-expo/dist/_expo/static/js/android/AppEntry-3b302143c6805dea7e835d2161b43445.hbc
vls-expo/dist/_expo/static/js/ios/AppEntry-89a175a71f90f8c68ae7e2c3863abbf7.hbc
vls-expo/dist/_expo/static/js/web/AppEntry-2d948c033f498d59534bb99db668a9c9.js
vls-expo/dist/assets/02bc1fa7c0313217bde2d65ccbff40c9
vls-expo/dist/assets/0586cbff343e28fa3056870b47f11806
vls-expo/dist/assets/0ea69b5077e7c4696db85dbcba75b0e1
vls-expo/dist/assets/140c53a7643ea949007aa9a282153849
vls-expo/dist/assets/1681f34aaca71b8dfb70756bca331eb2
vls-expo/dist/assets/1f77739ca9ff2188b539c36f30ffa2be
vls-expo/dist/assets/31b5ffea3daddc69dd01a1f3d6cf63c5
vls-expo/dist/assets/35ba0eaec5a4f5ed12ca16fabeae451d
vls-expo/dist/assets/370dd5af19f8364907b6e2c41f45dbbf
vls-expo/dist/assets/376d6a4c7f622917c39feb23671ef71d
vls-expo/dist/assets/3a2ba31570920eeb9b1d217cabe58315
vls-expo/dist/assets/3b89dd103490708d19a95adcae52210e
vls-expo/dist/assets/4e85bc9ebe07e0340c9c4fc2f6c38908
vls-expo/dist/assets/5223c8d9b0d08b82a5670fb5f71faf78
vls-expo/dist/assets/56c8d80832e37783f12c05db7c8849e2
vls-expo/dist/assets/605ed7926cf39a2ad5ec2d1f9d391d3d
vls-expo/dist/assets/6148e7019854f3bde85b633cb88f3c25
vls-expo/dist/assets/778ffc9fe8773a878e9c30a6304784de
vls-expo/dist/assets/7d40544b395c5949f4646f5e150fe020
vls-expo/dist/assets/a132ecc4ba5c1517ff83c0fb321bc7fc
vls-expo/dist/assets/a76d309774d33d9856f650bed4292a23
vls-expo/dist/assets/adec7d6f310bc577f05e8fe06a5daccf
vls-expo/dist/assets/assets/appicon.0586cbff343e28fa3056870b47f11806.png
vls-expo/dist/assets/b06871f281fee6b241d60582ae9369b9
vls-expo/dist/assets/b49ae8ab2dbccb02c4d11caaacf09eab
vls-expo/dist/assets/b62641afc9ab487008e996a5c5865e56
vls-expo/dist/assets/c79c3606a1cf168006ad3979763c7e0c
vls-expo/dist/assets/cdd04e13d4ec83ff0cd13ec8dabdc341
vls-expo/dist/assets/d2285965fe34b05465047401b8595dd0
vls-expo/dist/assets/e20945d7c929279ef7a6f1db184a4470
vls-expo/dist/assets/f5b790e2ac193b3d41015edb3551f9b8
vls-expo/dist/assets/f7c53c47a66934504fcbc7cc164895a7
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/AntDesign.3a2ba31570920eeb9b1d217cabe58315.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/Entypo.31b5ffea3daddc69dd01a1f3d6cf63c5.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/EvilIcons.140c53a7643ea949007aa9a282153849.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/Feather.a76d309774d33d9856f650bed4292a23.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/FontAwesome.b06871f281fee6b241d60582ae9369b9.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/FontAwesome5_Brands.3b89dd103490708d19a95adcae52210e.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/FontAwesome5_Regular.1f77739ca9ff2188b539c36f30ffa2be.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/FontAwesome5_Solid.605ed7926cf39a2ad5ec2d1f9d391d3d.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/FontAwesome6_Brands.56c8d80832e37783f12c05db7c8849e2.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/FontAwesome6_Regular.370dd5af19f8364907b6e2c41f45dbbf.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/FontAwesome6_Solid.adec7d6f310bc577f05e8fe06a5daccf.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/Fontisto.b49ae8ab2dbccb02c4d11caaacf09eab.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/Foundation.e20945d7c929279ef7a6f1db184a4470.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/Ionicons.6148e7019854f3bde85b633cb88f3c25.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/MaterialCommunityIcons.b62641afc9ab487008e996a5c5865e56.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/MaterialIcons.4e85bc9ebe07e0340c9c4fc2f6c38908.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/Octicons.f7c53c47a66934504fcbc7cc164895a7.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/SimpleLineIcons.d2285965fe34b05465047401b8595dd0.ttf
vls-expo/dist/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/Zocial.1681f34aaca71b8dfb70756bca331eb2.ttf
vls-expo/dist/assets/node_modules/@react-navigation/elements/lib/module/assets/back-icon-mask.5223c8d9b0d08b82a5670fb5f71faf78.png
vls-expo/dist/assets/node_modules/@react-navigation/elements/lib/module/assets/back-icon.35ba0eaec5a4f5ed12ca16fabeae451d.png
vls-expo/dist/favicon.ico
vls-expo/dist/index.html
vls-expo/dist/metadata.json
